.detergent {
    position: relative;
    width: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    &:before {
        content: "";
        background-color: #fff;
        width: 200px;
        height: 3px;
        position: absolute;
        left: -230px;
        top: 24px;
    }
    &:after {
        content: "";
        background-color: #fff;
        width: 200px;
        height: 3px;
        position: absolute;
        left: 58px;
        top: 24px;
    }
}

.black {
    &:before {
        background-color: #000;
    }
    &:after {
        background-color: #000;
    }
}