.aboutUs {
    padding: 40px 0 40px 0;
    background: url('../../resources/leaves.webp') repeat;
    &__wrapper {
        padding-top: 40px;
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template: auto auto/ 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 30px;
    }
}

.portfolio {
    width: 200px;
    height: auto;
    background-color: rgb(205, 226, 202);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__image {
        height: 190px;
        max-width: 150px;
        display: block;
        margin: 0 auto;
        object-fit: contain;
        background-color: #ffff;
    }
    &__name{
        margin-top: 10px;
        text-align: center;
        font-weight: 800;
    }
    &__description {
        text-align: center;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__wrapper {
        background-color: #2f6d1646;
        padding: 20px 0 10px 0;
        border-radius: 5px;
    }
}