@import './variables.scss';

.loginForm {
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 90px;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__label {
        font-size: 20px;
    }
    &__input {
        height: 30px;
    }
}

.error{
    display: block;
    position: absolute;
    top: 25%;
    left: 42%;
    color: red;
}